
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@*body*@
<section>
    <center>
        <div class="mt-2 bg-success w-75 p-5">
            <h1>
                hi sondos
            </h1>
            <p>llllllll</p>
        </div>
    </center>
</section>
